.popup__submit {
  border: none;
  background-color: var(--basic-dark);
  color: var(--basic-white);
  border-radius: 2px;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 500px) {
  .popup__submit {
    font-size: 14px;
    line-height: 17px;
    height: 46px;
  }
}
