.form__fields {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 0;
  border: none;
  margin: 0 0 48px 0;
}

@media screen and (max-width: 500px) {
  .form__fields {
    margin-bottom: 45px;
  }
}
